globals :
{
    verbose         = true;
    loglevel        = 5;
    syslog          = true;
    public-key-file = "@@PUBKEY@@";
    aes-key-file = "@@AESKEY@@";
};


logcolors : {
    error = "red:bold";
    trace = "green:normal";
    debug = "magenta:normal";
    warning = "yellow:underline";
};

download : {
    retries         = 3;
    timeout         = 1800;
};

identify : (
	{ name = "image"; value = "@@IMAGE@@"; },
	{ name = "device"; value = "@@DEVICE@@"; },
	{ name = "version"; value = "@@CURRENT_VERSION@@"; },
);

#
# webserver : setup for the embedded webserver
# see ./swupdate -h for details
#
# document_root		: string
#			  directory to the website
# userid		: integer
#			  userID for Webserver process
# groupid		: integer
#			  groupId for Webserver process
# listening_ports	: integer
#			  Webserver listening ports
# note this must be non-privileged port if user/group is not 0
#
# enable_directory_listing : boolean
#			  true to list directories
# ssl_certificate	: string
#			  path to SSL certificat
# ssl_certificate_key	: string
#			  path to SSL private key
# api			: integer
#			  1 = simple REST API for M2M communication
#			  2 = WebApp with Websockets support
# global-auth-file	: string
#			  path to the global authorization file, if any
#			  default = none
# auth-domain		: string
#			  path to auth-domain, if any
#			  default = none
# run-postupdate	: boolean (default true)
#			  run the postupdate command automatically after
#			  a successful update
# timeout		: timeout in seconds to monitor the connection
#			  when an update is started. If no data is received
#			  during this time, connection is closed by the Webserver
#			  and update is aborted.
webserver :
{
	document_root = "@@SWU_WWW_DOC_ROOT@@";
	listening_ports = @@SWU_WWW_HTTP_PORT@@;
	/* 33 = www-data */
	userid      = 33;
	groupid     = 33;
	timeout     = 600;
};
